<div class="row p-3" id="Dashboard">
  <section class="w-100 col-12">
    <div class="row">
      <div class="col-12">
        <div class="content-header">Current time devices data recap</div>
        <p class="content-sub-header mb-1">Over the last 24 Hours</p>
      </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                  <span class="badge bg-light-primary">02 Mars 15:49</span>
                  <div>
                      <i class="ft-align-justify primary cursor-pointer"></i>
                  </div>
                </div>
                <div class="media">
                  <div class="media-body text-left">
                    <h3 class="mb-1 success">64.89 %</h3>
                    <span>id : 3215498413184841</span>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="ft-activity success font-large-2 float-right"></i>
                  </div>
                </div>
                <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
                <div class="stats row pt-2 justify-content-md-center">
                  <span class="col-3 badge badge-success m-1">25 V</span>
                  <span class="col-3 badge badge-warning m-1">25 A</span>
                  <span class="col-3 badge badge-danger m-1">25 Kw</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-light-primary">02 Mars 15:49</span>
                <div>
                    <i class="ft-align-justify primary cursor-pointer"></i>
                </div>
              </div>
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 success">64.89 %</h3>
                  <span>id : 3215498413184841</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="ft-activity success font-large-2 float-right"></i>
                </div>
              </div>
              <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
              <div class="stats row pt-2 justify-content-md-center">
                <span class="col-3 badge badge-success m-1">25 V</span>
                <span class="col-3 badge badge-warning m-1">25 A</span>
                <span class="col-3 badge badge-danger m-1">25 Kw</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-light-primary">02 Mars 15:49</span>
                <div>
                    <i class="ft-align-justify primary cursor-pointer"></i>
                </div>
              </div>
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 success">64.89 %</h3>
                  <span>id : 3215498413184841</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="ft-activity success font-large-2 float-right"></i>
                </div>
              </div>
              <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
              <div class="stats row pt-2 justify-content-md-center">
                <span class="col-3 badge badge-success m-1">25 V</span>
                <span class="col-3 badge badge-warning m-1">25 A</span>
                <span class="col-3 badge badge-danger m-1">25 Kw</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="badge bg-light-primary">02 Mars 15:49</span>
                <div>
                    <i class="ft-align-justify primary cursor-pointer"></i>
                </div>
              </div>
              <div class="media">
                <div class="media-body text-left">
                  <h3 class="mb-1 success">64.89 %</h3>
                  <span>id : 3215498413184841</span>
                </div>
                <div class="media-right align-self-center">
                  <i class="ft-activity success font-large-2 float-right"></i>
                </div>
              </div>
              <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
              <div class="stats row pt-2 justify-content-md-center">
                <span class="col-3 badge badge-success m-1">25 V</span>
                <span class="col-3 badge badge-warning m-1">25 A</span>
                <span class="col-3 badge badge-danger m-1">25 Kw</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    <section class="w-100 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Line Chart</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="height-400">
                            <canvas height="400" baseChart class="chart" 
                                [datasets]="lineChartData" 
                                [labels]="lineChartLabels" 
                                [options]="lineChartOptions" 
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend" 
                                [chartType]="lineChartType">
                            </canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
