<div class="col-12 p-2">
  <button class="btn btn-primary" (click)="openContent()">Add Tarif</button>

</div>

<section class="Facture-template">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content p-3">

          <ngx-datatable class="bootstrap core-bootstrap"
            [rows]="rows"
            [rowHeight]="50"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true">

            <ngx-datatable-column name="Limit" prop="Limit" [width]="150" >
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <div style="height:70px !important">
                  {{ row.Limit }} / {{ row.Prix }}
                </div>
              </ng-template>
              <!-- <ng-template ngFor let-Array [ngForOf]="Array" let-i="index">
                <div>
                 {{Array.Limit}}
                </div> -->


                <!-- <div>
                  <ngx-datatable-column name="Limit" prop="Limit" [width]="150"></ngx-datatable-column>
                </div> -->


          <!-- </ng-template> -->
            </ngx-datatable-column>




              <!-- <ngx-datatable-column *ngFor="let item of inputs" name="Tarif" prop="Tarif_name" [width]="150"></ngx-datatable-column> -->
               <!-- <ng-template #customAvatar>
                <div class="avatar mr-1 ml-0"
                  [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                  <div class="avatar-content">{{ name | shortName }}</div>
                </div>
              </ng-template> --> -->


              <ngx-datatable-column name="Actions" [width]="70">
                <ng-template ngx-datatable-cell-template>
                  <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                  <i class="ft-edit text-primary cursor-pointer"></i>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>








        </div>
      </div>
    </div>
  </div>
</section>
