<div class="row">

  <div class="col-12">
    <button class="btn btn-primary" (click)="addUser()">Add user</button>
    
    <button class="btn btn-primary" (click)="addDevice()">Add device</button>

  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Users List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">

          <!-- ngx-datatable Basic -->
          <ngx-datatable [rows]="users" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="10"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
            <ngx-datatable-column name="Type" prop="isAdmin" [width]="60">
                <ng-template let-type="value" ngx-datatable-cell-template>
                    <!-- set div badgepill with value inside type of the user for only 2 values (admin or user) -->
                    <div class="badge badge-pill" [ngClass]="{'bg-light-primary': type == true, 'bg-light-success':type == false}">
                        {{ type == true ? "Admin" : "User" }}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" prop="name" [width]="70"></ngx-datatable-column>
            <ngx-datatable-column name="Customer" prop="customer.name" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Creation Date" prop="creating_date" [width]="110">
                <ng-template let-date="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" [ngClass]="{'bg-light-primary': date == true, 'bg-light-success':date == false}">
                        {{ date | date:'dd/MM/yyyy' }}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Full access" prop="hasAccessToAllDevices" [width]="90">
                <ng-template let-access="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" [ngClass]="{'bg-light-primary': access == true, 'bg-light-success':access == false}">
                        {{ access == true ? "Full" : "Partial" }}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Devices Count" prop="deviceArray.length" [width]="80">
                <ng-template let-devices="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" [ngClass]="{'bg-light-primary': devices == 0, 'bg-light-success':devices > 0}">
                        {{ devices }}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="ID" prop="_id" [width]="200"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column name="Password" prop="passwordHash" [width]="200"></ngx-datatable-column> -->

            <!-- <ngx-datatable-column name="Status" prop="status" [width]="100">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div class="badge badge-pill"
                  [ngClass]="{'bg-light-primary': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-warning':status == '4' , 'bg-light-info':status == '5'}">
                  {{ status == 1 ? "Current" : (status == 2 ? "Professional" : (status == 3 ? "Rejected" : (status == 4 ? "Resigned" : status == 5 ? "Applied" : "Applied"))) }}
                </div>
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Actions" [width]="70">
              <ng-template ngx-datatable-cell-template>
                <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                <i class="ft-edit text-primary cursor-pointer"></i>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
          <!--/ ngx-datatable Basic -->

        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Device List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">

          <!-- ngx-datatable Basic -->
          <ngx-datatable [rows]="devices" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="10"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
            <ngx-datatable-column name="Name" prop="name" [width]="70"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="70">
              <ng-template ngx-datatable-cell-template>
                <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                <i class="ft-edit text-primary cursor-pointer"></i>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
          <!--/ ngx-datatable Basic -->

        </div>
      </div>
    </div>
  </div>
</div>
